.collections-container {
  max-width: 900px;
  position: relative;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 1.5rem;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.collections-title {
  font-size: 2.2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: var(--bbb);
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.collections-card {
  background: var(--ggg);
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  width: 100%;
  max-width: 320px;
  object-fit: cover;
}

.collections-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.3);
}

.collections-card-image {
  width: 100%;
  height: 13.5rem;
  object-fit: cover;
  border-radius: 8px;
  border: var(--bbb);
}

.collections-card-text {
  padding: 1rem;
}

.caption-title {
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--bbb);
  text-align: left;
}

.caption-body {
  font-size: 1rem;
  font-weight: 300;
  color: var(--bbb);
  text-align: left;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 400px;
  margin: 0 auto;
  width: 100dvh;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.508);
  overflow: scroll;
}

.card-overlay {
  background: var(--ggg);
  border-radius: 8px;
  padding: 1.3rem;
  width: 90%;
  max-width: 500px;
  margin: 2rem auto;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: transform 0.3s ease-in-out;
  overflow: scroll;
}

.modal .card-overlay {
  animation: fadeInScale 0.3s ease-in-out;
}

.card-overlay button {
  position: absolute;
  top: 0.9rem;
  right: 0.9rem;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}

.card-overlay button:hover {
  color: var(--eee)
}

.card-title {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 0.6rem;
}

.card-overlay p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.9rem;
}

.card-overlay ul {
  list-style: none;
  padding: 0;
}

.card-overlay li {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 2px;
  border-bottom: 1px solid #ddd;
}

.card-overlay li:last-child {
  border-bottom: none;
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
