@media screen and (prefers-color-scheme: light) {
  :root {
    --aaa: #d2d7dfff;
    --bbb: #cfd7c7ff;
    --ccc: #a37871ff;
    --ddd: #7c809bff;
    --eee: #353535ff;
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --aaa: #353535ff;
    --bbb: #7c809bff;
    --ccc: #a37871ff;
    --ddd: #cfd7c7ff;
    --eee: #d2d7dfff;
  }
}
