@media screen and (prefers-color-scheme: light) {
  :root {
    --aaa: #000000ff;
    --bbb: #d2d7dfff;
    --ccc: #cfd7c7ff;
    --ddd: #a37871ff;
    --eee: #7c809bff;
    --fff: #353535ff;
    --ggg: #ffffffff;
  }
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --aaa: #000000ff;
    --bbb: #353535ff;
    --ccc: #7c809bff;
    --ddd: #a37871ff;
    --eee: #cfd7c7ff;
    --fff: #d2d7dfff;
    --ggg: #ffffffff;
  }
}
