:root {
  --color-background: #f7f3e3ff;
  --color-text: #333333ff;
  --color-accent: #6b9ac4ff;
  --color-secondary: #bb7e5dff;
  --color-cta: #98473eff;
  --color-border: #f9fafbff;
  --color-muted: #465169ff;

}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #333333ff;
    --color-text: #f9fafbff;
    --color-accent: #6b9ac4ff;
    --color-secondary: #98473eff;
    --color-cta: #bb7e5dff;
    --color-border: #374151ff;
    --color-muted: #465169ff;
  }
}

html.dark {
    --color-background: #333333ff;
    --color-text: #f9fafbff;
    --color-accent: #6b9ac4ff;
    --color-secondary: #98473eff;
    --color-cta: #bb7e5dff;
    --color-border: #374151ff;
    --color-muted: #465169ff;
}
