.home-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 3rem;
}

.navlinks {
  position: absolute;
  top: 8rem;
  right: 0;
  max-width: 150px;
  width: 100%;
  max-height: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
}

.navlink-border {
  border-bottom: 3px solid var(--bbb);
  width: 100%;
}
