.home-page {
  height: 100dvh;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.navlinks-section {
  position: absolute;
  top: 2rem;
  right: 0;
  width: 100%;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

.navlink {
  font-size: 1.1rem;
  color: var(--ccc);
  text-align: center;
  transition: color 0.5s ease;
}

.navlink:hover {
  color: var(--ddd);
  cursor: pointer;
}

.navlink-border {
  margin: 1.5rem;
  border-bottom: 2px solid var(--ccc);
  width: 100%;
}

.home-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-section {
  width: 100%;
  text-align: left;
}

.welcome {
  color: var(--bbb);
  font-weight: 400;
  margin: 1.3rem 0;
  text-align: left;
}

.comment {
  color: var(--bbb);
  margin: 1rem 0;
  text-align: left;
  font-weight: 400;
}

.subcomment {
  color: var(--bbb);
  margin: 1rem 0;
  text-align: left;
  font-weight: 300;
  font-style: italic;
}

@media (max-width: 768px) {
  .navlinks-section {
    position: absolute;
    top: 2rem;
    right: 0;
    width: 100%;
    max-width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1rem;
  }
}
