.home-page {
  height: 100dvh;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.home-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100dvh;
  height: 100%;
  z-index: -1;
  background-image: url('/images/bg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.navlinks-section {
  position: absolute;
  top: 2rem;
  right: 0;
  width: 100%;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

.navlink {
  font-size: 1.4rem;
  color: var(--ccc);
  text-align: center;
  transition: color 0.5s ease;
}

.navlink:hover {
  color: var(--ddd);
  cursor: pointer;
}

.navlink-border {
  margin: 1.5rem;
  border-bottom: 2px solid var(--ccc);
  width: 100%;
}

.home-container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-section {
  width: 100%;
  text-align: left;
  color: var(--bbb);
  text-align: left;
}

.comment {
  color: var(--bbb);
  margin: 1rem 0;
  text-align: left;
  font-weight: 400;
  font-size: 1.7rem;
}

@media (max-width: 768px) {
  .home-page {
    padding: 0.8rem;
  }

  .navlinks-section {
    top: 1rem;
    max-width: 120px;
  }

  .navlink {
    font-size: 1.2rem;
  }

  .navlink-border {
    margin: 1rem;
  }

  .home-container {
    padding: 0.8rem;
  }

  .comment {
    font-size: 1.4rem;
  }
}

/* Tablet (769px to 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .home-page {
    padding: 1rem;
  }

  .navlinks-section {
    top: 1.5rem;
    max-width: 130px;
  }

  .navlink {
    font-size: 1.3rem;
  }

  .navlink-border {
    margin: 1.3rem;
  }

  .home-container {
    padding: 1rem;
  }

  .comment {
    font-size: 1.6rem;
  }
}

/* Desktop (1025px and above) */
@media (min-width: 1025px) {
  .home-page {
    padding: 1.2rem;
  }

  .navlinks-section {
    top: 2rem;
    max-width: 150px;
  }

  .navlink {
    font-size: 1.4rem;
  }

  .navlink-border {
    margin: 1.5rem;
  }

  .home-container {
    padding: 1rem;
  }

  .comment {
    font-size: 1.7rem;
  }
}
