
@media (max-width: 768px) {
  .collections-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .collections-title {
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .collections-container {
    grid-template-columns: 1fr;
  }

  .collections-title {
    font-size: 1.8rem;
  }

  .back-link {
    font-size: 1.2rem;
  }

  .card-overlay {
    width: 95%;
    padding: 15px;
  }
}



@media (min-width: 640px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1280px) {

}

@media (min-width: 1536px) {

}
