.buttoncard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

.radio {
  font-size: 4.1rem;
  color: var(--bbb);
  transition: all 0.5s ease;
}

.radio:hover {
  cursor: pointer;
  color: var(--ddd);
}
.toggle-player {
  max-width: 200px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  color: var(--ccc);
}

.buttoncard-overlay {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transform: translateY(100%);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.buttoncard-overlay.visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0%);
}

.buttoncard-container {
  position: relative;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  contain: content;
  background-color: #dfffff88;
  color: var(--aaa);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  margin: 0 auto;
  padding: 0 2rem;
  min-height: 420px;
  max-height: 480px;
  height: 100%;
  max-width: 380px;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.buttoncard-close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  color: var(--aaa);
  z-index: 5;
}

.buttoncard-close-button:hover {
  color: var(--bbb);
}

.buttoncard-title {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  color: #353535ff;
  margin: 1rem 0;
}

.buttoncard-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 1rem;
}
