.buttoncard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.toggle-player {
  max-width: 150px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: absolute;
  bottom: 0;
}

.toggle-label {
  font-size: 1.2rem;
  color: var(--aaa);
  margin: 0.5rem;
}

.buttoncard-overlay {
  width: 100%;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transform: translateY(100%);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.buttoncard-overlay.visible {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0%);
}

.buttoncard-container {
  position: relative;
  contain: content;
  background-color: #dfffff88;
  backdrop-filter: blur(4px);
  border-radius: 8px;
  margin: 0 auto;
  padding: 1.2rem;
  min-height: 480px;
  max-height: 610px;
  height: 100%;
  min-width: 320px;
  max-width: 420px;
  width: 100%;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.4s ease-in-out;
}

.buttoncard-close-button {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  cursor: pointer;
  transition: all 0.2s ease;
  color: #666;
}

.buttoncard-close-button:hover {
  color: #333;
}

.buttoncard-title {
  width: 100%;
  text-align: center;
  font-size: 2.103rem;
}

.buttoncard-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: var(--aaa);
  padding: 0.5rem;
}
