.audio-playlist {
  width: 100%;
}

.ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.li,
.playlist-button {
  list-style: none;
  padding: 0.25rem 0;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--color-background);
  width: 100%;
  text-align: left;
  transition: font-style 0.3s ease-in-out text-decoration 0.3s ease-in-out;
}

.li:hover,
.playlist-button:hover {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 500;

}
