.audio-playlist {
  width: 100%;
}

.ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.li,
.playlist-button {
  list-style: none;
  padding: 0.5rem 0;
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--aaa);
  width: 100%;
  text-align: left;
}

.li:hover,
.playlist-button:hover {
  cursor: pointer;
  text-decoration: underline;
}
