.audio-controls {
  max-height: 10rem;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  contain: content;
  z-index: 10000;
  color: #333333ff;
}

.song-controls {
  max-width: 280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333333ff;
}

.volume-controls {
  color: #333333ff;
  width: 100%;
  max-width: 280px;
  margin: 0 auto 2rem auto;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-center;
}

.control-button {
  color: #333333ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 5rem;
  min-height: 5rem;
  text-align: center;
}

.control-label {
  color: #333333ff;
  width: 100%;
  font-size: 0.8rem;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  font-size: 0.8rem;
}

.control-button:hover .control-label {
  opacity: 1;
}

.control-button:hover {
  cursor: pointer;
  border-radius: 13px;
  transition: all 0.3s ease-in-out;
}

.control-button:active {
  border-radius: 13px;
  transition: all 0.3s ease-in-out;
}

#volume,
input[type='range'] {
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border: var(--aaa) 2px solid;
  height: 1rem;
  border-radius: 50px;
  background-image: linear-gradient(to right, var(--aaa), var(--ccc));
  background-repeat: no-repeat;
}

#volume::-webkit-slider-runnable-track,
input[type='range']::-webkit-slider-runnable-track {
  width: 100%;
  height: 1rem;
  background: transparent;
  border-radius: 50px;
}

#volume::-webkit-slider-thumb,
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 1rem;
  width: 1rem;
  background-color: var(--hhh);
  border: var(--bbb) 2px solid;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#volume::-moz-range-track,
input[type='range']::-moz-range-track {
  background: transparent;
  border: none;
  height: 1rem;
}

#volume::-moz-range-thumb,
input[type='range']::-moz-range-thumb {
  height: 1rem;
  width: 1rem;
  background-color: var(--b100);
  border: var(--t100) 2px solid;
  border-radius: 50%;
  cursor: pointer;
}

#volume::-ms-track,
input[type='range']::-ms-track {
  background: transparent;
  border-color: transparent;
  color: transparent;
}
